$font-size: 100px;


li {
    list-style: none;
}


.example-sass {
  font-size: $font-size;
}

.coloraja {
    color: green;
}

.container {
  padding: 15px;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  border: 1px solid #dddddd;
  text-align: center;
}
.imgaja {
    width: 50%;
}

.feet {
    width: 500px;
}